@{
    ViewBag.Title = "About";
}
<h2>About ITT Car Hire</h2>
<h3>
    Company has been established in 2000 year, starting with a fleet of 10 cars.<br/> 
    After 15 years the fleet grows to 50 cars in A, B and C segments.<br/>
    From our earliest days, ITT Car Hire has pioneered innovations in car rental services.<br/> 
    To ensure our customers enjoy a car hire service, we explore every opportunity<br/> 
    to create and satisfy local demand everywhere in Ireland. This approach has resulted in<br/>
    being No. 1 in the country.
</h3>

