@{
    ViewBag.Title = "Contact";
}
<h2>ITT Car Rental</h2>
<h4>Contact details</h4>

<address>
    Industrial Business Park<br />
    Blanchardstown, D15<br />
    Dublin, Ireland<br />
    <abbr title="Phone">P:</abbr>
    +353 18887766
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ittcarrental.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ittcarrental.com">Marketing@example.com</a>
</address>