@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Rental</h1>
    <h1>The most affordable cars</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Car Rental</h2>
        <p>
            Car Rental is the biggest, in Dublin region, company offering cars for rent
            at lowest rates. Available cars are from segments A, B and C (small, medium, big).
        </p>
    </div>
    <div class="col-md-4">
        <h2>List of cars</h2>
        <p>You can check all available cars the Car Rental has in offer.</p>
        <p><a class="btn btn-default" href="http://localhost:5141/home/allcars">See all cars &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cars available to rent</h2>
        <p>You can check what cars are available and quickly book a car of your choice.</p>
        <p><a class="btn btn-default" href="http://localhost/controller/actionmethod">See available cars &raquo;</a></p>
    </div>
</div>